<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>职员管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>

	<!--导入分页主键-->
	<script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css"/>

    <script type="text/javascript" src="../js/base_pagination.js"></script>
	<script type="text/javascript" src="../js/service/employeeService.js"></script>
	<script type="text/javascript" src="../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../js/controller/employeeController.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini"  ng-app="NG" ng-controller="employeeController">
  <!-- .box-body -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">职员管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                            <!--工具栏-->
							<div class="pull-left">
								<div class="form-group form-inline">
									<div class="btn-group">
										<button type="button" class="btn btn-default" ng-click="delete()" title="删除" ><i class="fa fa-trash-o"></i> 删除</button>
									</div>
								</div>
							</div>
                            <div class="box-tools pull-right">
                                <div class="has-feedback">
									职员名称：<input  ng-model="searchEntity.name">
									职员地址： <input  ng-model="searchEntity.address">
									<button class="btn btn-default" ng-click="reloadList()">查询</button>
                                </div>
                            </div>
                            <!--工具栏/-->

			                  <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
			                              <th class="" style="padding-right:0px">
			                                  <input id="selall" type="checkbox" class="icheckbox_square-blue">
			                              </th> 
										  <th class="sorting_asc">职员编号</th>
									      <th class="sorting">职员账号</th>
									      <th class="sorting">职员姓名</th>
									      <th class="sorting">职员电话</th>
										  <th class="sorting">职员地址</th>
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
									  <tr ng-repeat="entity in list">
			                              <td><input  type="checkbox" ng-click="updateSelection($event,entity.empId)"></td>
				                          <td>{{entity.empId}}</td>
									      <td>{{entity.username}}</td>
									      <td>{{entity.name}}</td>
									      <td>{{entity.phone}}</td>
									      <td>{{entity.address}}</td>
		                                  <td class="text-center">                                           
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#sellerModal" ng-click="findOne(entity.empId)">详情</button>
		                                  </td>
			                          </tr>
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                        
							  
							 
                        </div>
                        <!-- 数据表格 /-->
                        <tm-pagination conf="paginationConf"></tm-pagination>
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
                    
	          
					    
                                
<!-- 职员信息详情 -->
<div class="modal fade" id="sellerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">职员信息详情</h3>
		</div>
		<div class="modal-body">							
			
			 <ul class="nav nav-tabs">
			  <li class="active"><a href="#home" data-toggle="tab">基本信息</a></li>
			  <li><a href="#certificate" data-toggle="tab">证件/时间</a></li>
			  <li><a href="#ceo" data-toggle="tab">特长和工作经历</a></li>
			</ul>							
			
			<!-- 选项卡开始 -->         
		    <div id="myTabContent" class="tab-content">
			    <div class="tab-pane active in" id="home">
			      <br>
			      <table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>职员名称</td>
			      		<td>{{entity.name}}</td>
			      	</tr>
			      	<tr>
			      		<td>联系方式</td>
			      		<td>{{entity.phone}}</td>
			      	</tr>
			      	<tr>
			      		<td>毕业院校</td>
			      		<td>{{entity.grade}}</td>
			      	</tr>
			      	<tr>
			      		<td>家庭地址</td>
			      		<td>{{entity.address}}</td>
			      	</tr>
					<tr>
						<td>职位</td>
						<td>{{position[entity.position]}}</td>
					</tr>
			      </table>			      
      			</div>
			    <div class="tab-pane fade" id="certificate">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>身份证号</td>
				      		<td>{{entity.idCard}}</td>
				      	</tr>

				      	<tr>
				      		<td>入职时间</td>
				      		<td>{{entity.createtime| date:'yyyy-MM-dd'}}</td>
				      	</tr>				      	
			     	</table>
			    </div>
			    <div class="tab-pane fade" id="ceo">
					<br>
					<table class="table table-bordered table-striped" >
				      	<tr>
				      		<td>爱好</td>
				      		<td>{{entity.hobby}}</td>
				      	</tr>
				      	<tr>
				      		<td>描述</td>
				      		<td>{{entity.discription}}</td>
				      	</tr>					   			      	
			     	</table>
			    </div>
  			    </div> 			
           <!-- 选项卡结束 -->          
			
			
		</div>
		<div class="modal-footer">
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>


</body>

</html>